.blind{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
h1::selection{
	color: white;
	background: lightgreen;
	content: string;
}
h1::after{

	border: 3px solid red;
	content: "|";
}
body h3 + element{
	background-color: lightgreen;
}
body .element{
	background-color: lightgreen;
}